@model IEnumerable<CartmitMVC.Models.SongReview>

@{
    ViewBag.Title = "Song Reviews";
}

<h2>Song Reviews</h2>

@foreach (var item in Model)
{
    @Html.Partial("_SongReview", item)
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>