@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Golf, Music, and the World</h1>
    <p class="lead">My passions are at the same time irrelevant and utterly necessary.</p>
    <p>
        <a href="https://www.youtube.com/watch?v=uw6-lyVgpjU&list=PLMxaNwkKqpUzIt8g_FtNRk4CPEXVbrEZ2" class="btn btn-primary btn-lg">Listen to St. Mojo &raquo;</a>
    
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Play</h2>
        <p>
            Reviews of courses around the Greater Chicagoland area
        </p>
        <p class="btn btn-default">@Html.ActionLink("Learn more »", "Index", "CourseReviews")</p>
    </div>
    <div class="col-md-4">
        <h2>Listen</h2>
        <p>Americana/Outlaw Country, classic Rock, blues, jazz, alternative, folk, {name your genre}</p>
        <p class="btn btn-default">@Html.ActionLink("Learn more »", "Index", "SongReviews")</p>
    </div>
    @*<div class="col-md-4">
        <h2>Despair</h2>
        <p>What will our children inherit?</p>
        <p class="btn btn-default">@Html.ActionLink("Learn more »", "Search", "Issue")</p>
    </div>*@
</div>